env1
__pycache__
node_modules
sesion38/python

env2
env3
env4
env5
env6
env7
env8
env9
env10
env11
env12
env13
env14
env15
env16
env17
env18
env19
env20
env21
env22
env23
env24
env25
env26
env27 
env28

.env