<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>

    <style>
        #game_board {
            display: grid;
            grid-gap: 0.5em;
            grid-template-columns: repeat(3, 1fr);
            width: 16em;
            height: auto;
        }
        .square {
            background-color: #ccc;
            width: 5em;
            height: 5em;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px #222 solid;
            color: black;

        }
    </style>

    <body>
        <h1>TIC TAC TOE</h1>
        <div id="game_board">
            <div class="square" data-index='0'></div>
            <div class="square" data-index='1'></div>
            <div class="square" data-index='2'></div>
            <div class="square" data-index='3'></div>
            <div class="square" data-index='4'></div>
            <div class="square" data-index='5'></div>
            <div class="square" data-index='6'></div>
            <div class="square" data-index='7'></div>
            <div class="square" data-index='8'></div> 
            
        </div>

        <script>
            var gameBoard = ['', '', '', '', '', '', '', '', '']

            var websocket = new WebSocket("ws://localhost:8000/ws/play/")

            let squares = document.getElementsByClassName("square");

            for (var i=0; i < squares.length; i++) {
                squares[i].addEventListener("click", e => {
                    let index = e.path[0].getAttribute('data-index');

                    gameBoard[index] = "{{player}}"
                    make_move()
                })
            }

            
            function update_game(){
                let squares = document.getElementsByClassName("square");
                for (var i=0; i < squares.length; i++) {
                    squares[i].innerText= gameBoard[i]
                }
                data = {
                    "event": "MOVE",
                    "message": {
                        "gameBoard": gameBoard
                    }
                }
            }
            
            function make_move(){
                update_game()
                websocket.send(JSON.stringify(data))
            }
        
            websocket.onmessage = function(e) {
                let data = JSON.parse(e.data);
                data = data["payload"];
                let event = data["event"]
                let message = data["message"]

                if (event == "MOVE") {
                    gameBoard = message["gameBoard"]
                    update_game()
                }

            }
        </script>

    </body>
</html>